*{
    padding: 0;
    margin: 0;
}

body{
    margin-bottom: 50px;
}

nav{
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 1px 1px 8px 1px;
}

.mobileList{
    display: none;
}

@media all and (max-width: 500px) {
    .spacer{
        height: 65px;
    }

    nav{
        padding: 12px;
    }

    nav p{
        font-size: 26px;
        flex: 1;
    }

    .desktopList{
        display: none;
    }

    .mobileButton{
        flex: .14;
        margin-right: 20px;
    }

    .bar{
        border: solid;
        margin-bottom: 10px;
        transition: .3s;
        text-align: center;
    }

    .mobileMenu{
        height: 100%;
        width: 70%;
        position: fixed;
        top: 70px;
        right: 100%;
        background-color: white;
        transition: .3s;
    }
}